<!DOCTYPE html5>
<html>
<head>
  <title>Nu Paradigm</title>
</head>
<body>
  <h1>Nu Paradigm</h1>
  <p>
    Nu Paradigms first paragraph on the title page <%= ["me", "you", "them"].sample %>
  </p>
</body>
